body {
    font-size: 8px;
    background-image: url("./images/white-934556_1920.jpg");
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo-banner {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

img.logo {
    width: 150px;
    padding-top: 5px;
    padding-left: 2rem;
    padding-right: 0.5%;
    display: inline-flex;
    justify-content: space-between;
}

h1 {
    color: #0a74bf;
}

h3 {
    vertical-align: middle;
}

.cancel-button {
    display: none;
}

.employee {
    font-size: 30px;
}

.logged-in-employee {
    text-align: center;
    color: #f2f2f2
}

.banner-button {
    margin-right: 25px;
    height: 50px;
}

header {
    background-color: #0c91F0;
    width: 100%;
    height: 125px;
}

button.banner-button,
button.log-in-button,
button.sign-up-button,
button.sign-in-button,
button.cancel-button,
button.forgot-password-button,
button.add-points-button {
    width: auto;
    height: 50px;
    /* box-sizing: border-box; */
    /* text-align: center; */
    /* align-items: center; */
    /* margin: auto; */
}

.program-name {
    color: #0a74bf;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

fieldset {
    margin: 0 auto;
    padding-left: 10px;
    text-align: left;
}

input {
    width: 75%;
    height: 50px;
    margin: 0 0 7px 35px;
    font-size: 16px;
    padding-left: 10px;
}
select.goal-dropdown, select.points-dropdown {
    font-size: 16px;
}
input.employee-action,
input.goal-support {
    width: 95%;
    height: 35px;
    margin: auto;
    /* padding-left: 40px; */
}

.input-label {
    font-size: 16px;
    padding: 0 0 75px 15px;
    margin-left: 35px;
}

::placeholder {
    font-size: 16px;
    padding-left: 16px;
}

.employee-action::placeholder {
    padding-left: 3px;
}

.goal-support::placeholder {
    padding-left: 3px;
}

.program-description {
    color: #0a74bf;
    font-size: 1rem;
    margin: 5%;
    padding: 2%;
    text-align: center;
}

.sign-up h1 {
    text-align: center;
    color: #0c91f0;
}

legend {
    margin: 0 auto;
    font-size: 16px;
}

img.thumbs-up {
    width: 20%;
    margin: 40px;
    box-sizing: border-box;
}

.thumbs-up-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#employee-list {
    background-color: #E0E0E0;
    width: 100%;
    text-align: center;
    padding: 5px;
    margin: auto;
    border: 5px solid #f2f2f2;
}

.title-boxes,
.employee-boxes {
    width: 100%;
    /* box-sizing:border-box; */
    border: 2px solid red;
    /* text-align: center; */
    /* margin: auto; */
    /* display: flex; */
    /* justify-content: space-evenly; */
}

p {
    font-size: 20px;
}

.goals,
#employee-list,
.individual-info {
    display: block;
    width: 100%;
    text-align: center;
    margin: 20px auto;
    border: 2px solid blue;
    /* box-sizing: border-box; */
}

.goals h1,
.employee-container h1 {
    font-size: 2rem;
    text-align: center;
}

.goals,
.individual-info {
    background-color: #F2F2F2;
    border: 5px solid #E0E0E0;
}

.goal {
    display: flex;
    margin-bottom: 12px;
}

.ellipse {
    border: 1px solid #4BA66A;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 12px;
    width: 100px;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 5% 0;
    /* vertical-align: middle; */
    width: 250px;
}

button.ellipse {
    margin: 10px 0 5px 5px;
}

.button-give-points,
    {
    border-radius: 10%;
    padding: 2% 2%;
}

.goal-detail {
    border: 1px solid #4BA66A;
    padding: 5px;
    margin: 2px 2px 2px 1px;
    border-radius: 4px;
    max-width: 300px;
}

.innovation-ellipse,
.innovation-detail {
    background-color: #E6F1C8;
}

.sales-ellipse,
.sales-detail {
    background-color: #0c91F0;
}

.costs-ellipse,
.costs-detail {
    background-color: #FFF9AD;
}

.service-ellipse,
.service-detail {
    background-color: #4BA66A;
}

.description {
    padding-left: 25px;
    font-size: 16px;
}

#goal-dropdown,
#points-dropdown {
    font-size: 20px;
}

.points {
    display: flex;
    padding-bottom: 20px;
    /* margin: auto; */
    padding-left: 10%;
}

.points-received {
    margin: auto;
}

.points-section {
    margin-bottom: 20px;
    border: 5px solid #e0e0e0;
    padding-bottom: 20px;
    font-size: 10px;
}

button {
    background-color: #4BA66A;
    color: white;
    font-size: 16px;
    margin: 16px;
    padding: 0 16px 16px 16px;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.transaction-log {
    text-align: left;
    paddding-left: 50px;
}
#button-add-points,
    {
    background-color: #FFDE2D;
    margin-top: 10px;
}

button:hover {
    background-color: #FFF9AD;
    color: black;
}

.buttons {
    display: flex;
    justify-content: center;
}

.form-container {
    max-width: 600px;
    background-color: #FFF9AD;
    border: 2px solid #0c91F0;
    border-radius: 3px;
    margin: auto;
}

.current-employee h2 {
    display: inline;
}
 
.current-employee {
    width: 100%;
}

h2.js-last-name.employee-box:hover {
    background-color: #E6F1C8;
    cursor: pointer;
}
.title-box {
    background-color: #FFF9AD;
}
.employee-box {
    background-color: #F2f2f2;
}
.title-box, h2.employee-box {
    margin: 5px;
    padding: 0 50px;
    box-sizing: border-box;
    display: inline-flex;
    text-align: center;
}

/*For non-mobile devices*/

@media only screen and (min-width: 640px) {
    img.logo {
        padding-left: 5rem;
    }
    .main {
        display: flex;
        /* align-items: center; */
        justify-content: center;
    }
    .ellipse {
        width: 100px;
        padding: 2% 2%;
    }
    .program-description {
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
    }
    .logo-text {
        font-size: 2rem;
    }
    input,
    .input-label {
        margin-left: 75px;
    }
    .program-name {
        font-size: 2.5rem;
    }
    #employee-list,
    .goals,
    .individual-info {
        width: 60%;
        padding: 20px;
    }
     .title-box, h2.employee-box {
        width: 200px;
        /* display: inline-block; */
    }
    #employee-list {
        font-size: 16px;
        width: 95%;
    }
    
    .goal {
        width: 95%;
        display: inline-flex;
        /* padding: 25px; */
    }
    .goals {
        width: 90%;
    }
    .goal-container {
        width: 25%;
    }
    .employee-container,
    .individual-info-container {
        width: 75%;
    }
    fieldset {
        padding-left: 50px;
    }
}